body {
    padding: 10%;
    text-align: center;
}

#container {
    width: 400px;
    height: 400px;
    position: relative;
    margin: 0 auto;
}

#board {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 1px solid black;
}

#board div {
    border: 10px solid black;
    float: left;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    outline: none;
}

#tl {
    border-top-left-radius: 100%;
    background:  #2ECC40;
}

#tr {
    border-top-right-radius: 100%;
    background: #FF4136;
}

#bl {
    border-bottom-left-radius: 100%;
    background: #FFDC00;
}
#br {
    border-bottom-right-radius: 100%;
    background: #0074D9;
}

#center {
    width: 210px;
    height: 210px;
    position: absolute;
    top: 89px;
    left: 86px;
    z-index: 10;
    border: 10px solid black;
    border-radius: 50%;
    background: white;
    text-transform: uppercase;
    font-size: 12px;
}

#logo {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    text-transform: none;
}

#logo span {
    font-size: 14px;
    vertical-align: super;
}

.box {
    float: left;
    width: 40px;
    margin: 0 8px;
}

#display{
    width: 35px;
    height: 35px;
    margin: 0 auto;
    border:3px #333 solid;
    border-radius: 20%;
    background: #ccc;
    color:#2ECC40;
    font-size: 25px;
    line-height: 35px;
    font-family: monospace;
}

.btn {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: #333 3px solid;
    margin: 0 auto;
    cursor: pointer;
    box-shadow: 0 8px 6px -6px black;
}

.btn:active {
    transform: translateY(1px);
    box-shadow: none;
}

#start-btn {
    margin-top: 20px;
    background: #FF4136;
}

#strict-btn {
    background: #FFDC00;
}

#indicator {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border:2px solid #333;
    background: #333;
    margin: 5px auto ;
}

/*@import url(https://fonts.googleapis.com/css?family=VT323);*/
/*@import url(https://fonts.googleapis.com/css?family=Fredoka+One);*/

/*h1 {*/
    /*text-align: center;*/
/*}*/
/*.box {*/
    /*width: 400px;*/
    /*height: 382px;*/
    /*margin: 20px auto;*/
    /*padding-top: 5px;*/
    /*border-style: solid;*/
    /*border-radius: 50%;*/
    /*border-width: 3px;*/
    /*background-color: rgba(110, 110, 110, 1);*/
/*}*/

/*.display {*/
    /*font-family: VT323;*/
    /*font-size: 5em;*/
    /*color: red;*/
    /*margin: 133px auto 0;*/
    /*text-align: center;*/
    /*border-radius: 50%;*/
    /*width: 100px;*/
    /*height: 100px;*/
    /*background-color: black;*/
/*}*/

/*#strict-button {*/
    /*border-color: rgb(217, 83, 79);*/
    /*background-color: rgb(217, 83, 79);*/
    /*color: white;*/
/*}*/

/*.pad {*/
    /*border-style: solid;*/
    /*border-width: 5px;*/
/*}*/

/*.tl {*/
    /*background-color: green;*/
    /*width: 150px;*/
    /*height: 150px;*/
    /*left: 30px;*/
    /*top: 18px;*/
    /*border-radius: 100% 50px 100px 50px;*/
/*}*/

/*.tr {*/
    /*background-color: red;*/
    /*width: 150px;*/
    /*height: 150px;*/
    /*left: 65px;*/
    /*top: 18px;*/
    /*border-radius: 50px 100% 50px 100px;*/
/*}*/

/*.bl {*/
    /*background-color: yellow;*/
    /*width: 150px;*/
    /*height: 150px;*/
    /*left: 30px;*/
    /*top: -37px;*/
    /*border-radius: 50px 100px 50px 100%;*/

/*}*/

/*.br {*/
    /*background-color: blue;*/
    /*width: 150px;*/
    /*height: 150px;*/
    /*left: 65px;*/
    /*top: -37px;*/
    /*border-radius: 100px 50px 100% 50px;*/
/*}*/