@import url(https://fonts.googleapis.com/css?family=VT323);
@import url(https://fonts.googleapis.com/css?family=Fredoka+One);

h1 {
    text-align: center;
}

.box {
    width: 400px;
    height: 400px;
    margin: 20px auto;
    padding-top: 5px;
}

.display {
    font-family: VT323;
    font-size: 5em;
    color: red;
    margin: 140px auto 0;
    text-align: center;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: black;
}

#strict-button {
    border-color: rgb(217, 83, 79);
    background-color: rgb(217, 83, 79);
    color: white;
}

.pad {
    border-style: solid;
    border-width: 5px;
}

.tl {
    background-color: green;
    width: 150px;
    height: 150px;
    left: 30px;
    top: -12px;
}

.tr {
    background-color: red;
    width: 150px;
    height: 150px;
    left: 65px;
    top: -12px;
}

.bl {
    background-color: yellow;
    width: 150px;
    height: 150px;
    left: 30px;
    top: 0;
}

.br {
    background-color: blue;
    width: 150px;
    height: 150px;
    left: 65px;
    top: 0;
}